<h1><%= @restaurant.name %></h1>
<p><%= @restaurant.address %></p>
<p><%= @restaurant.phone_number %></p>
<p><%= @restaurant.category %></p>

<h1>Reviews</h1>
<ul>
<% @restaurant.reviews.each do |review|%>
<li>
<%= review.content %>
<%= review.rating %>
</li>
<%= render "reviews/form", review: @review %>
<% end %>
</ul>


<%= link_to "Write a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to "Back to restaurants", restaurants_path, class: "btn btn-primary" %>
